In [2]:
import numpy as np
import pandas as pd

In [3]:
dict1 = {
    "name" : ['smit', 'karan', 'prarik','rahul'],
    "marks" : [98, 97, 96,95],
    "city" : ['itvaya', 'gadhada', 'dron','jargali']
}

In [4]:
df = pd.DataFrame(dict1)

In [5]:
df

     name  marks     city
0    smit     98   itvaya
1   karan     97  gadhada
2  prarik     96     dron
3   rahul     95  jargali

In [6]:
df.to_csv("friends.csv")

In [7]:
df.to_csv("friends.csv", index=False)

In [8]:
df.head(2)

    name  marks     city
0   smit     98   itvaya
1  karan     97  gadhada

In [9]:
df.tail(2)

     name  marks     city
2  prarik     96     dron
3   rahul     95  jargali

In [10]:
df.describe()

           marks
count   4.000000
mean   96.500000
std     1.290994
min    95.000000
25%    95.750000
50%    96.500000
75%    97.250000
max    98.000000

In [11]:
smit = pd.read_csv('friends.csv')

In [12]:
smit

     name  marks     city
0    smit     98   itvaya
1   karan     97  gadhada
2  prarik     96     dron
3   rahul     95  jargali

In [13]:
smit['name'][3] = 'Rahul'

C:\Users\Acer\AppData\Local\Temp\ipykernel_7568\1277276803.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smit['name'][3] = 'Rahul'

In [14]:
smit

     name  marks     city
0    smit     98   itvaya
1   karan     97  gadhada
2  prarik     96     dron
3   Rahul     95  jargali

In [15]:
smit.index = {1,2,3,4}

In [16]:
smit.index.name = 'sr no'

In [17]:
smit

         name  marks     city
sr no
1        smit     98   itvaya
2       karan     97  gadhada
3      prarik     96     dron
4       Rahul     95  jargali

In [18]:
ser = pd.Series(np.random.rand(34))

In [19]:
ser

0     0.504960
1     0.171855
2     0.929607
3     0.779766
4     0.732758
5     0.588229
6     0.204283
7     0.770403
8     0.221119
9     0.593813
10    0.983417
11    0.633514
12    0.995558
13    0.690236
14    0.739057
15    0.152457
16    0.248352
17    0.707337
18    0.564606
19    0.354835
20    0.024193
21    0.207840
22    0.592668
23    0.946412
24    0.567306
25    0.645865
26    0.579734
27    0.956927
28    0.386365
29    0.034809
30    0.359812
31    0.714681
32    0.338157
33    0.275144
dtype: float64

In [20]:
type(ser)

pandas.core.series.Series

In [21]:
mydef = pd.DataFrame(np.random.rand(32,5), index=np.arange(32))

In [22]:
mydef

           0         1         2         3         4
0   0.624014  0.220810  0.454862  0.054170  0.665391
1   0.782026  0.034786  0.479726  0.979938  0.667366
2   0.938869  0.842000  0.908156  0.627013  0.084534
3   0.618302  0.430822  0.499424  0.027876  0.263834
4   0.016121  0.616401  0.718436  0.553138  0.733237
5   0.905406  0.578577  0.144997  0.236572  0.343959
6   0.652178  0.140996  0.849037  0.714926  0.087708
7   0.360297  0.526587  0.238819  0.703032  0.650285
8   0.485818  0.407151  0.092515  0.152071  0.803280
9   0.811887  0.308346  0.617499  0.045842  0.726779
10  0.619418  0.696469  0.578067  0.014737  0.759215
11  0.072747  0.375946  0.279026  0.687867  0.374170
12  0.998886  0.142724  0.677061  0.001480  0.527897
13  0.302115  0.949338  0.416732  0.462837  0.608323
14  0.560679  0.806490  0.708049  0.987176  0.437412
15  0.584962  0.216943  0.770021  0.045987  0.378083
16  0.119681  0.045568  0.117200  0.502795  0.107417
17  0.453883  0.678399  0.473173  0.740957  0.386425
18  0.182569  0.042468  0.860223  0.992278  0.270128
19  0.798890  0.617008  0.701354  0.814221  0.916604
20  0.118407  0.795490  0.459881  0.264375  0.096497
21  0.657911  0.997269  0.205561  0.862401  0.835293
22  0.039220  0.788778  0.181747  0.561192  0.878578
23  0.067584  0.048123  0.664786  0.997317  0.862352
24  0.261509  0.848207  0.564651  0.331230  0.390248
25  0.263131  0.936493  0.451126  0.893653  0.224578
26  0.409777  0.298597  0.688834  0.633444  0.947210
27  0.861289  0.303415  0.064707  0.198402  0.376420
28  0.918204  0.114394  0.561421  0.701143  0.094505
29  0.260481  0.730428  0.591547  0.340510  0.374055
30  0.654395  0.041162  0.672390  0.371912  0.540694
31  0.661058  0.118443  0.373711  0.804807  0.206212

In [23]:
type(mydef)

pandas.core.frame.DataFrame

In [24]:
mydef.describe()

               0          1          2          3          4
count  32.000000  32.000000  32.000000  32.000000  32.000000
mean    0.501929   0.459332   0.502023   0.509541   0.488084
std     0.299258   0.318661   0.237309   0.332188   0.273741
min     0.016121   0.034786   0.064707   0.001480   0.084534
25%     0.261252   0.142292   0.350040   0.227030   0.268554
50%     0.572820   0.418987   0.530423   0.557165   0.413830
75%     0.691300   0.745016   0.680004   0.756919   0.728394
max     0.998886   0.997269   0.908156   0.997317   0.947210

In [25]:
mydef.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [26]:
mydef[0][0] = "smit"

C:\Users\Acer\AppData\Local\Temp\ipykernel_7568\3298692571.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'smit' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  mydef[0][0] = "smit"

In [27]:
mydef

           0         1         2         3         4
0       smit  0.220810  0.454862  0.054170  0.665391
1   0.782026  0.034786  0.479726  0.979938  0.667366
2   0.938869  0.842000  0.908156  0.627013  0.084534
3   0.618302  0.430822  0.499424  0.027876  0.263834
4   0.016121  0.616401  0.718436  0.553138  0.733237
5   0.905406  0.578577  0.144997  0.236572  0.343959
6   0.652178  0.140996  0.849037  0.714926  0.087708
7   0.360297  0.526587  0.238819  0.703032  0.650285
8   0.485818  0.407151  0.092515  0.152071  0.803280
9   0.811887  0.308346  0.617499  0.045842  0.726779
10  0.619418  0.696469  0.578067  0.014737  0.759215
11  0.072747  0.375946  0.279026  0.687867  0.374170
12  0.998886  0.142724  0.677061  0.001480  0.527897
13  0.302115  0.949338  0.416732  0.462837  0.608323
14  0.560679  0.806490  0.708049  0.987176  0.437412
15  0.584962  0.216943  0.770021  0.045987  0.378083
16  0.119681  0.045568  0.117200  0.502795  0.107417
17  0.453883  0.678399  0.473173  0.740957  0.386425
18  0.182569  0.042468  0.860223  0.992278  0.270128
19   0.79889  0.617008  0.701354  0.814221  0.916604
20  0.118407  0.795490  0.459881  0.264375  0.096497
21  0.657911  0.997269  0.205561  0.862401  0.835293
22   0.03922  0.788778  0.181747  0.561192  0.878578
23  0.067584  0.048123  0.664786  0.997317  0.862352
24  0.261509  0.848207  0.564651  0.331230  0.390248
25  0.263131  0.936493  0.451126  0.893653  0.224578
26  0.409777  0.298597  0.688834  0.633444  0.947210
27  0.861289  0.303415  0.064707  0.198402  0.376420
28  0.918204  0.114394  0.561421  0.701143  0.094505
29  0.260481  0.730428  0.591547  0.340510  0.374055
30  0.654395  0.041162  0.672390  0.371912  0.540694
31  0.661058  0.118443  0.373711  0.804807  0.206212

In [28]:
mydef.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [29]:
mydef.index

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
      dtype='int32')

In [30]:
mydef.columns

RangeIndex(start=0, stop=5, step=1)

In [31]:
mydef.to_numpy()

array([['smit', 0.2208097260796562, 0.4548618812590345,
        0.05417019354249886, 0.6653910483279905],
       [0.7820263142286893, 0.034786204254852016, 0.4797256900690816,
        0.9799382920868716, 0.6673664247404991],
       [0.9388689749067564, 0.8420002404874404, 0.9081560387585709,
        0.6270129376490063, 0.08453385320620721],
       [0.6183019803424751, 0.430822086891699, 0.49942386805122574,
        0.02787570066770939, 0.26383447634896173],
       [0.01612110828628066, 0.6164012363248171, 0.7184360334479987,
        0.5531384318741527, 0.7332373480674796],
       [0.9054062981272035, 0.5785768817576561, 0.14499670968805067,
        0.23657195962626698, 0.3439587133895158],
       [0.6521782858200574, 0.14099559837792897, 0.8490369031650138,
        0.7149262803421986, 0.08770825557971063],
       [0.3602972612181198, 0.5265869402313123, 0.23881908661158913,
        0.7030323929515716, 0.6502850181401707],
       [0.4858175734873823, 0.4071510471675417, 0.0925151350103558,
        0.15207086240059686, 0.8032798993593078],
       [0.8118874533108639, 0.30834641205556046, 0.6174989876323422,
        0.0458422761155276, 0.726779259313177],
       [0.6194183105717718, 0.6964694668576249, 0.5780672748737511,
        0.014736960924682685, 0.7592147608340116],
       [0.07274694050954078, 0.37594598564530823, 0.27902642206632977,
        0.6878672216460094, 0.3741695212168381],
       [0.9988855155057673, 0.14272377933991676, 0.6770607155569931,
        0.0014803164256664836, 0.5278966004462329],
       [0.30211463752756695, 0.9493383016404281, 0.4167319615577645,
        0.46283672540262666, 0.6083225778182654],
       [0.5606792003721512, 0.8064901548174287, 0.7080491961510476,
        0.9871760159498628, 0.43741240063245534],
       [0.5849616969507042, 0.2169430837681341, 0.7700211333106967,
        0.04598728553917397, 0.37808345569320045],
       [0.11968094306889698, 0.04556836563296662, 0.11720027916197973,
        0.5027947657291068, 0.10741681082888843],
       [0.4538834476836746, 0.6783990435590587, 0.4731730406909902,
        0.7409568373425464, 0.38642462129638877],
       [0.18256942537059195, 0.042467839150730824, 0.8602232100978001,
        0.9922783308628809, 0.2701276767887202],
       [0.798889682214079, 0.6170079049859967, 0.7013543507272045,
        0.8142213696118603, 0.9166036932827197],
       [0.11840693751255515, 0.7954897276422166, 0.45988077339095523,
        0.26437520568019657, 0.09649729553207442],
       [0.6579110976841529, 0.9972690155119359, 0.20556100602256955,
        0.8624010631034512, 0.835292935706992],
       [0.03921994139433305, 0.7887780760891652, 0.18174675340616164,
        0.5611916835327048, 0.8785775536093067],
       [0.06758429640553631, 0.04812289785162638, 0.6647857163822967,
        0.9973169396575229, 0.8623517828892163],
       [0.2615092944116373, 0.8482072766743115, 0.5646510543315506,
        0.33123014102344006, 0.39024794818889086],
       [0.26313086269804886, 0.9364926624592088, 0.451126305043818,
        0.893652715354815, 0.22457791389044757],
       [0.4097768209580851, 0.29859715467268266, 0.6888337854227621,
        0.6334443222206199, 0.9472102512034994],
       [0.8612892971944752, 0.30341495107193117, 0.06470709480544823,
        0.19840217408843253, 0.3764198794369259],
       [0.9182038456777215, 0.11439427115767564, 0.5614213150775346,
        0.7011431647718499, 0.09450465194621938],
       [0.2604813854320406, 0.7304283154839561, 0.5915465080949317,
        0.3405098415791641, 0.37405512835034993],
       [0.6543953856568453, 0.04116214018370945, 0.6723899470720164,
        0.3719124548876688, 0.5406942618016078],
       [0.6610580713548226, 0.11844313769698822, 0.3737112556572878,
        0.8048072860136489, 0.2062121533819523]], dtype=object)

In [32]:
mydef[0][0] = 0.256

In [33]:
mydef

           0         1         2         3         4
0      0.256  0.220810  0.454862  0.054170  0.665391
1   0.782026  0.034786  0.479726  0.979938  0.667366
2   0.938869  0.842000  0.908156  0.627013  0.084534
3   0.618302  0.430822  0.499424  0.027876  0.263834
4   0.016121  0.616401  0.718436  0.553138  0.733237
5   0.905406  0.578577  0.144997  0.236572  0.343959
6   0.652178  0.140996  0.849037  0.714926  0.087708
7   0.360297  0.526587  0.238819  0.703032  0.650285
8   0.485818  0.407151  0.092515  0.152071  0.803280
9   0.811887  0.308346  0.617499  0.045842  0.726779
10  0.619418  0.696469  0.578067  0.014737  0.759215
11  0.072747  0.375946  0.279026  0.687867  0.374170
12  0.998886  0.142724  0.677061  0.001480  0.527897
13  0.302115  0.949338  0.416732  0.462837  0.608323
14  0.560679  0.806490  0.708049  0.987176  0.437412
15  0.584962  0.216943  0.770021  0.045987  0.378083
16  0.119681  0.045568  0.117200  0.502795  0.107417
17  0.453883  0.678399  0.473173  0.740957  0.386425
18  0.182569  0.042468  0.860223  0.992278  0.270128
19   0.79889  0.617008  0.701354  0.814221  0.916604
20  0.118407  0.795490  0.459881  0.264375  0.096497
21  0.657911  0.997269  0.205561  0.862401  0.835293
22   0.03922  0.788778  0.181747  0.561192  0.878578
23  0.067584  0.048123  0.664786  0.997317  0.862352
24  0.261509  0.848207  0.564651  0.331230  0.390248
25  0.263131  0.936493  0.451126  0.893653  0.224578
26  0.409777  0.298597  0.688834  0.633444  0.947210
27  0.861289  0.303415  0.064707  0.198402  0.376420
28  0.918204  0.114394  0.561421  0.701143  0.094505
29  0.260481  0.730428  0.591547  0.340510  0.374055
30  0.654395  0.041162  0.672390  0.371912  0.540694
31  0.661058  0.118443  0.373711  0.804807  0.206212

In [34]:
type(mydef)

pandas.core.frame.DataFrame

In [35]:
mydef.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [36]:
mydef.to_numpy()

array([[0.256, 0.2208097260796562, 0.4548618812590345,
        0.05417019354249886, 0.6653910483279905],
       [0.7820263142286893, 0.034786204254852016, 0.4797256900690816,
        0.9799382920868716, 0.6673664247404991],
       [0.9388689749067564, 0.8420002404874404, 0.9081560387585709,
        0.6270129376490063, 0.08453385320620721],
       [0.6183019803424751, 0.430822086891699, 0.49942386805122574,
        0.02787570066770939, 0.26383447634896173],
       [0.01612110828628066, 0.6164012363248171, 0.7184360334479987,
        0.5531384318741527, 0.7332373480674796],
       [0.9054062981272035, 0.5785768817576561, 0.14499670968805067,
        0.23657195962626698, 0.3439587133895158],
       [0.6521782858200574, 0.14099559837792897, 0.8490369031650138,
        0.7149262803421986, 0.08770825557971063],
       [0.3602972612181198, 0.5265869402313123, 0.23881908661158913,
        0.7030323929515716, 0.6502850181401707],
       [0.4858175734873823, 0.4071510471675417, 0.0925151350103558,
        0.15207086240059686, 0.8032798993593078],
       [0.8118874533108639, 0.30834641205556046, 0.6174989876323422,
        0.0458422761155276, 0.726779259313177],
       [0.6194183105717718, 0.6964694668576249, 0.5780672748737511,
        0.014736960924682685, 0.7592147608340116],
       [0.07274694050954078, 0.37594598564530823, 0.27902642206632977,
        0.6878672216460094, 0.3741695212168381],
       [0.9988855155057673, 0.14272377933991676, 0.6770607155569931,
        0.0014803164256664836, 0.5278966004462329],
       [0.30211463752756695, 0.9493383016404281, 0.4167319615577645,
        0.46283672540262666, 0.6083225778182654],
       [0.5606792003721512, 0.8064901548174287, 0.7080491961510476,
        0.9871760159498628, 0.43741240063245534],
       [0.5849616969507042, 0.2169430837681341, 0.7700211333106967,
        0.04598728553917397, 0.37808345569320045],
       [0.11968094306889698, 0.04556836563296662, 0.11720027916197973,
        0.5027947657291068, 0.10741681082888843],
       [0.4538834476836746, 0.6783990435590587, 0.4731730406909902,
        0.7409568373425464, 0.38642462129638877],
       [0.18256942537059195, 0.042467839150730824, 0.8602232100978001,
        0.9922783308628809, 0.2701276767887202],
       [0.798889682214079, 0.6170079049859967, 0.7013543507272045,
        0.8142213696118603, 0.9166036932827197],
       [0.11840693751255515, 0.7954897276422166, 0.45988077339095523,
        0.26437520568019657, 0.09649729553207442],
       [0.6579110976841529, 0.9972690155119359, 0.20556100602256955,
        0.8624010631034512, 0.835292935706992],
       [0.03921994139433305, 0.7887780760891652, 0.18174675340616164,
        0.5611916835327048, 0.8785775536093067],
       [0.06758429640553631, 0.04812289785162638, 0.6647857163822967,
        0.9973169396575229, 0.8623517828892163],
       [0.2615092944116373, 0.8482072766743115, 0.5646510543315506,
        0.33123014102344006, 0.39024794818889086],
       [0.26313086269804886, 0.9364926624592088, 0.451126305043818,
        0.893652715354815, 0.22457791389044757],
       [0.4097768209580851, 0.29859715467268266, 0.6888337854227621,
        0.6334443222206199, 0.9472102512034994],
       [0.8612892971944752, 0.30341495107193117, 0.06470709480544823,
        0.19840217408843253, 0.3764198794369259],
       [0.9182038456777215, 0.11439427115767564, 0.5614213150775346,
        0.7011431647718499, 0.09450465194621938],
       [0.2604813854320406, 0.7304283154839561, 0.5915465080949317,
        0.3405098415791641, 0.37405512835034993],
       [0.6543953856568453, 0.04116214018370945, 0.6723899470720164,
        0.3719124548876688, 0.5406942618016078],
       [0.6610580713548226, 0.11844313769698822, 0.3737112556572878,
        0.8048072860136489, 0.2062121533819523]], dtype=object)

In [37]:
mydef.T

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,0.256,0.782026,0.938869,0.618302,0.016121,0.905406,0.652178,0.360297,0.485818,0.811887,...,0.03922,0.067584,0.261509,0.263131,0.409777,0.861289,0.918204,0.260481,0.654395,0.661058
1,0.22081,0.034786,0.842,0.430822,0.616401,0.578577,0.140996,0.526587,0.407151,0.308346,...,0.788778,0.048123,0.848207,0.936493,0.298597,0.303415,0.114394,0.730428,0.041162,0.118443
2,0.454862,0.479726,0.908156,0.499424,0.718436,0.144997,0.849037,0.238819,0.092515,0.617499,...,0.181747,0.664786,0.564651,0.451126,0.688834,0.064707,0.561421,0.591547,0.67239,0.373711
3,0.05417,0.979938,0.627013,0.027876,0.553138,0.236572,0.714926,0.703032,0.152071,0.045842,...,0.561192,0.997317,0.33123,0.893653,0.633444,0.198402,0.701143,0.34051,0.371912,0.804807
4,0.665391,0.667366,0.084534,0.263834,0.733237,0.343959,0.087708,0.650285,0.80328,0.726779,...,0.878578,0.862352,0.390248,0.224578,0.94721,0.37642,0.094505,0.374055,0.540694,0.206212

In [38]:
mydef

           0         1         2         3         4
0      0.256  0.220810  0.454862  0.054170  0.665391
1   0.782026  0.034786  0.479726  0.979938  0.667366
2   0.938869  0.842000  0.908156  0.627013  0.084534
3   0.618302  0.430822  0.499424  0.027876  0.263834
4   0.016121  0.616401  0.718436  0.553138  0.733237
5   0.905406  0.578577  0.144997  0.236572  0.343959
6   0.652178  0.140996  0.849037  0.714926  0.087708
7   0.360297  0.526587  0.238819  0.703032  0.650285
8   0.485818  0.407151  0.092515  0.152071  0.803280
9   0.811887  0.308346  0.617499  0.045842  0.726779
10  0.619418  0.696469  0.578067  0.014737  0.759215
11  0.072747  0.375946  0.279026  0.687867  0.374170
12  0.998886  0.142724  0.677061  0.001480  0.527897
13  0.302115  0.949338  0.416732  0.462837  0.608323
14  0.560679  0.806490  0.708049  0.987176  0.437412
15  0.584962  0.216943  0.770021  0.045987  0.378083
16  0.119681  0.045568  0.117200  0.502795  0.107417
17  0.453883  0.678399  0.473173  0.740957  0.386425
18  0.182569  0.042468  0.860223  0.992278  0.270128
19   0.79889  0.617008  0.701354  0.814221  0.916604
20  0.118407  0.795490  0.459881  0.264375  0.096497
21  0.657911  0.997269  0.205561  0.862401  0.835293
22   0.03922  0.788778  0.181747  0.561192  0.878578
23  0.067584  0.048123  0.664786  0.997317  0.862352
24  0.261509  0.848207  0.564651  0.331230  0.390248
25  0.263131  0.936493  0.451126  0.893653  0.224578
26  0.409777  0.298597  0.688834  0.633444  0.947210
27  0.861289  0.303415  0.064707  0.198402  0.376420
28  0.918204  0.114394  0.561421  0.701143  0.094505
29  0.260481  0.730428  0.591547  0.340510  0.374055
30  0.654395  0.041162  0.672390  0.371912  0.540694
31  0.661058  0.118443  0.373711  0.804807  0.206212

In [39]:
mydef.sort_index(axis=0,ascending=False,)

           0         1         2         3         4
31  0.661058  0.118443  0.373711  0.804807  0.206212
30  0.654395  0.041162  0.672390  0.371912  0.540694
29  0.260481  0.730428  0.591547  0.340510  0.374055
28  0.918204  0.114394  0.561421  0.701143  0.094505
27  0.861289  0.303415  0.064707  0.198402  0.376420
26  0.409777  0.298597  0.688834  0.633444  0.947210
25  0.263131  0.936493  0.451126  0.893653  0.224578
24  0.261509  0.848207  0.564651  0.331230  0.390248
23  0.067584  0.048123  0.664786  0.997317  0.862352
22   0.03922  0.788778  0.181747  0.561192  0.878578
21  0.657911  0.997269  0.205561  0.862401  0.835293
20  0.118407  0.795490  0.459881  0.264375  0.096497
19   0.79889  0.617008  0.701354  0.814221  0.916604
18  0.182569  0.042468  0.860223  0.992278  0.270128
17  0.453883  0.678399  0.473173  0.740957  0.386425
16  0.119681  0.045568  0.117200  0.502795  0.107417
15  0.584962  0.216943  0.770021  0.045987  0.378083
14  0.560679  0.806490  0.708049  0.987176  0.437412
13  0.302115  0.949338  0.416732  0.462837  0.608323
12  0.998886  0.142724  0.677061  0.001480  0.527897
11  0.072747  0.375946  0.279026  0.687867  0.374170
10  0.619418  0.696469  0.578067  0.014737  0.759215
9   0.811887  0.308346  0.617499  0.045842  0.726779
8   0.485818  0.407151  0.092515  0.152071  0.803280
7   0.360297  0.526587  0.238819  0.703032  0.650285
6   0.652178  0.140996  0.849037  0.714926  0.087708
5   0.905406  0.578577  0.144997  0.236572  0.343959
4   0.016121  0.616401  0.718436  0.553138  0.733237
3   0.618302  0.430822  0.499424  0.027876  0.263834
2   0.938869  0.842000  0.908156  0.627013  0.084534
1   0.782026  0.034786  0.479726  0.979938  0.667366
0      0.256  0.220810  0.454862  0.054170  0.665391

In [40]:
type(mydef[0])

pandas.core.series.Series

In [41]:
mydef.loc[0,1] = 123455

In [42]:
mydef

           0              1         2         3         4
0      0.256  123455.000000  0.454862  0.054170  0.665391
1   0.782026       0.034786  0.479726  0.979938  0.667366
2   0.938869       0.842000  0.908156  0.627013  0.084534
3   0.618302       0.430822  0.499424  0.027876  0.263834
4   0.016121       0.616401  0.718436  0.553138  0.733237
5   0.905406       0.578577  0.144997  0.236572  0.343959
6   0.652178       0.140996  0.849037  0.714926  0.087708
7   0.360297       0.526587  0.238819  0.703032  0.650285
8   0.485818       0.407151  0.092515  0.152071  0.803280
9   0.811887       0.308346  0.617499  0.045842  0.726779
10  0.619418       0.696469  0.578067  0.014737  0.759215
11  0.072747       0.375946  0.279026  0.687867  0.374170
12  0.998886       0.142724  0.677061  0.001480  0.527897
13  0.302115       0.949338  0.416732  0.462837  0.608323
14  0.560679       0.806490  0.708049  0.987176  0.437412
15  0.584962       0.216943  0.770021  0.045987  0.378083
16  0.119681       0.045568  0.117200  0.502795  0.107417
17  0.453883       0.678399  0.473173  0.740957  0.386425
18  0.182569       0.042468  0.860223  0.992278  0.270128
19   0.79889       0.617008  0.701354  0.814221  0.916604
20  0.118407       0.795490  0.459881  0.264375  0.096497
21  0.657911       0.997269  0.205561  0.862401  0.835293
22   0.03922       0.788778  0.181747  0.561192  0.878578
23  0.067584       0.048123  0.664786  0.997317  0.862352
24  0.261509       0.848207  0.564651  0.331230  0.390248
25  0.263131       0.936493  0.451126  0.893653  0.224578
26  0.409777       0.298597  0.688834  0.633444  0.947210
27  0.861289       0.303415  0.064707  0.198402  0.376420
28  0.918204       0.114394  0.561421  0.701143  0.094505
29  0.260481       0.730428  0.591547  0.340510  0.374055
30  0.654395       0.041162  0.672390  0.371912  0.540694
31  0.661058       0.118443  0.373711  0.804807  0.206212

In [43]:
mydef.columns = list("abcde")

In [44]:
mydef

           a              b         c         d         e
0      0.256  123455.000000  0.454862  0.054170  0.665391
1   0.782026       0.034786  0.479726  0.979938  0.667366
2   0.938869       0.842000  0.908156  0.627013  0.084534
3   0.618302       0.430822  0.499424  0.027876  0.263834
4   0.016121       0.616401  0.718436  0.553138  0.733237
5   0.905406       0.578577  0.144997  0.236572  0.343959
6   0.652178       0.140996  0.849037  0.714926  0.087708
7   0.360297       0.526587  0.238819  0.703032  0.650285
8   0.485818       0.407151  0.092515  0.152071  0.803280
9   0.811887       0.308346  0.617499  0.045842  0.726779
10  0.619418       0.696469  0.578067  0.014737  0.759215
11  0.072747       0.375946  0.279026  0.687867  0.374170
12  0.998886       0.142724  0.677061  0.001480  0.527897
13  0.302115       0.949338  0.416732  0.462837  0.608323
14  0.560679       0.806490  0.708049  0.987176  0.437412
15  0.584962       0.216943  0.770021  0.045987  0.378083
16  0.119681       0.045568  0.117200  0.502795  0.107417
17  0.453883       0.678399  0.473173  0.740957  0.386425
18  0.182569       0.042468  0.860223  0.992278  0.270128
19   0.79889       0.617008  0.701354  0.814221  0.916604
20  0.118407       0.795490  0.459881  0.264375  0.096497
21  0.657911       0.997269  0.205561  0.862401  0.835293
22   0.03922       0.788778  0.181747  0.561192  0.878578
23  0.067584       0.048123  0.664786  0.997317  0.862352
24  0.261509       0.848207  0.564651  0.331230  0.390248
25  0.263131       0.936493  0.451126  0.893653  0.224578
26  0.409777       0.298597  0.688834  0.633444  0.947210
27  0.861289       0.303415  0.064707  0.198402  0.376420
28  0.918204       0.114394  0.561421  0.701143  0.094505
29  0.260481       0.730428  0.591547  0.340510  0.374055
30  0.654395       0.041162  0.672390  0.371912  0.540694
31  0.661058       0.118443  0.373711  0.804807  0.206212

In [45]:
mydef.loc[0,'c'] = 7016611716

In [46]:
mydef

           a              b             c         d         e
0      0.256  123455.000000  7.016612e+09  0.054170  0.665391
1   0.782026       0.034786  4.797257e-01  0.979938  0.667366
2   0.938869       0.842000  9.081560e-01  0.627013  0.084534
3   0.618302       0.430822  4.994239e-01  0.027876  0.263834
4   0.016121       0.616401  7.184360e-01  0.553138  0.733237
5   0.905406       0.578577  1.449967e-01  0.236572  0.343959
6   0.652178       0.140996  8.490369e-01  0.714926  0.087708
7   0.360297       0.526587  2.388191e-01  0.703032  0.650285
8   0.485818       0.407151  9.251514e-02  0.152071  0.803280
9   0.811887       0.308346  6.174990e-01  0.045842  0.726779
10  0.619418       0.696469  5.780673e-01  0.014737  0.759215
11  0.072747       0.375946  2.790264e-01  0.687867  0.374170
12  0.998886       0.142724  6.770607e-01  0.001480  0.527897
13  0.302115       0.949338  4.167320e-01  0.462837  0.608323
14  0.560679       0.806490  7.080492e-01  0.987176  0.437412
15  0.584962       0.216943  7.700211e-01  0.045987  0.378083
16  0.119681       0.045568  1.172003e-01  0.502795  0.107417
17  0.453883       0.678399  4.731730e-01  0.740957  0.386425
18  0.182569       0.042468  8.602232e-01  0.992278  0.270128
19   0.79889       0.617008  7.013544e-01  0.814221  0.916604
20  0.118407       0.795490  4.598808e-01  0.264375  0.096497
21  0.657911       0.997269  2.055610e-01  0.862401  0.835293
22   0.03922       0.788778  1.817468e-01  0.561192  0.878578
23  0.067584       0.048123  6.647857e-01  0.997317  0.862352
24  0.261509       0.848207  5.646511e-01  0.331230  0.390248
25  0.263131       0.936493  4.511263e-01  0.893653  0.224578
26  0.409777       0.298597  6.888338e-01  0.633444  0.947210
27  0.861289       0.303415  6.470709e-02  0.198402  0.376420
28  0.918204       0.114394  5.614213e-01  0.701143  0.094505
29  0.260481       0.730428  5.915465e-01  0.340510  0.374055
30  0.654395       0.041162  6.723899e-01  0.371912  0.540694
31  0.661058       0.118443  3.737113e-01  0.804807  0.206212

In [47]:
mydef.drop('e',axis=1)

           a              b             c         d
0      0.256  123455.000000  7.016612e+09  0.054170
1   0.782026       0.034786  4.797257e-01  0.979938
2   0.938869       0.842000  9.081560e-01  0.627013
3   0.618302       0.430822  4.994239e-01  0.027876
4   0.016121       0.616401  7.184360e-01  0.553138
5   0.905406       0.578577  1.449967e-01  0.236572
6   0.652178       0.140996  8.490369e-01  0.714926
7   0.360297       0.526587  2.388191e-01  0.703032
8   0.485818       0.407151  9.251514e-02  0.152071
9   0.811887       0.308346  6.174990e-01  0.045842
10  0.619418       0.696469  5.780673e-01  0.014737
11  0.072747       0.375946  2.790264e-01  0.687867
12  0.998886       0.142724  6.770607e-01  0.001480
13  0.302115       0.949338  4.167320e-01  0.462837
14  0.560679       0.806490  7.080492e-01  0.987176
15  0.584962       0.216943  7.700211e-01  0.045987
16  0.119681       0.045568  1.172003e-01  0.502795
17  0.453883       0.678399  4.731730e-01  0.740957
18  0.182569       0.042468  8.602232e-01  0.992278
19   0.79889       0.617008  7.013544e-01  0.814221
20  0.118407       0.795490  4.598808e-01  0.264375
21  0.657911       0.997269  2.055610e-01  0.862401
22   0.03922       0.788778  1.817468e-01  0.561192
23  0.067584       0.048123  6.647857e-01  0.997317
24  0.261509       0.848207  5.646511e-01  0.331230
25  0.263131       0.936493  4.511263e-01  0.893653
26  0.409777       0.298597  6.888338e-01  0.633444
27  0.861289       0.303415  6.470709e-02  0.198402
28  0.918204       0.114394  5.614213e-01  0.701143
29  0.260481       0.730428  5.915465e-01  0.340510
30  0.654395       0.041162  6.723899e-01  0.371912
31  0.661058       0.118443  3.737113e-01  0.804807

In [48]:
mydef

           a              b             c         d         e
0      0.256  123455.000000  7.016612e+09  0.054170  0.665391
1   0.782026       0.034786  4.797257e-01  0.979938  0.667366
2   0.938869       0.842000  9.081560e-01  0.627013  0.084534
3   0.618302       0.430822  4.994239e-01  0.027876  0.263834
4   0.016121       0.616401  7.184360e-01  0.553138  0.733237
5   0.905406       0.578577  1.449967e-01  0.236572  0.343959
6   0.652178       0.140996  8.490369e-01  0.714926  0.087708
7   0.360297       0.526587  2.388191e-01  0.703032  0.650285
8   0.485818       0.407151  9.251514e-02  0.152071  0.803280
9   0.811887       0.308346  6.174990e-01  0.045842  0.726779
10  0.619418       0.696469  5.780673e-01  0.014737  0.759215
11  0.072747       0.375946  2.790264e-01  0.687867  0.374170
12  0.998886       0.142724  6.770607e-01  0.001480  0.527897
13  0.302115       0.949338  4.167320e-01  0.462837  0.608323
14  0.560679       0.806490  7.080492e-01  0.987176  0.437412
15  0.584962       0.216943  7.700211e-01  0.045987  0.378083
16  0.119681       0.045568  1.172003e-01  0.502795  0.107417
17  0.453883       0.678399  4.731730e-01  0.740957  0.386425
18  0.182569       0.042468  8.602232e-01  0.992278  0.270128
19   0.79889       0.617008  7.013544e-01  0.814221  0.916604
20  0.118407       0.795490  4.598808e-01  0.264375  0.096497
21  0.657911       0.997269  2.055610e-01  0.862401  0.835293
22   0.03922       0.788778  1.817468e-01  0.561192  0.878578
23  0.067584       0.048123  6.647857e-01  0.997317  0.862352
24  0.261509       0.848207  5.646511e-01  0.331230  0.390248
25  0.263131       0.936493  4.511263e-01  0.893653  0.224578
26  0.409777       0.298597  6.888338e-01  0.633444  0.947210
27  0.861289       0.303415  6.470709e-02  0.198402  0.376420
28  0.918204       0.114394  5.614213e-01  0.701143  0.094505
29  0.260481       0.730428  5.915465e-01  0.340510  0.374055
30  0.654395       0.041162  6.723899e-01  0.371912  0.540694
31  0.661058       0.118443  3.737113e-01  0.804807  0.206212

In [49]:
mydef.loc[[1,3,5],['a','c']]

          a         c
1  0.782026  0.479726
3  0.618302  0.499424
5  0.905406  0.144997

In [50]:
mydef.loc[:,['a','b']]

           a              b
0      0.256  123455.000000
1   0.782026       0.034786
2   0.938869       0.842000
3   0.618302       0.430822
4   0.016121       0.616401
5   0.905406       0.578577
6   0.652178       0.140996
7   0.360297       0.526587
8   0.485818       0.407151
9   0.811887       0.308346
10  0.619418       0.696469
11  0.072747       0.375946
12  0.998886       0.142724
13  0.302115       0.949338
14  0.560679       0.806490
15  0.584962       0.216943
16  0.119681       0.045568
17  0.453883       0.678399
18  0.182569       0.042468
19   0.79889       0.617008
20  0.118407       0.795490
21  0.657911       0.997269
22   0.03922       0.788778
23  0.067584       0.048123
24  0.261509       0.848207
25  0.263131       0.936493
26  0.409777       0.298597
27  0.861289       0.303415
28  0.918204       0.114394
29  0.260481       0.730428
30  0.654395       0.041162
31  0.661058       0.118443

In [51]:
mydef.loc[(mydef['a']<0.3) & (mydef['c']>0.3)]

           a              b             c         d         e
0      0.256  123455.000000  7.016612e+09  0.054170  0.665391
4   0.016121       0.616401  7.184360e-01  0.553138  0.733237
18  0.182569       0.042468  8.602232e-01  0.992278  0.270128
20  0.118407       0.795490  4.598808e-01  0.264375  0.096497
23  0.067584       0.048123  6.647857e-01  0.997317  0.862352
24  0.261509       0.848207  5.646511e-01  0.331230  0.390248
25  0.263131       0.936493  4.511263e-01  0.893653  0.224578
29  0.260481       0.730428  5.915465e-01  0.340510  0.374055

In [52]:
mydef

           a              b             c         d         e
0      0.256  123455.000000  7.016612e+09  0.054170  0.665391
1   0.782026       0.034786  4.797257e-01  0.979938  0.667366
2   0.938869       0.842000  9.081560e-01  0.627013  0.084534
3   0.618302       0.430822  4.994239e-01  0.027876  0.263834
4   0.016121       0.616401  7.184360e-01  0.553138  0.733237
5   0.905406       0.578577  1.449967e-01  0.236572  0.343959
6   0.652178       0.140996  8.490369e-01  0.714926  0.087708
7   0.360297       0.526587  2.388191e-01  0.703032  0.650285
8   0.485818       0.407151  9.251514e-02  0.152071  0.803280
9   0.811887       0.308346  6.174990e-01  0.045842  0.726779
10  0.619418       0.696469  5.780673e-01  0.014737  0.759215
11  0.072747       0.375946  2.790264e-01  0.687867  0.374170
12  0.998886       0.142724  6.770607e-01  0.001480  0.527897
13  0.302115       0.949338  4.167320e-01  0.462837  0.608323
14  0.560679       0.806490  7.080492e-01  0.987176  0.437412
15  0.584962       0.216943  7.700211e-01  0.045987  0.378083
16  0.119681       0.045568  1.172003e-01  0.502795  0.107417
17  0.453883       0.678399  4.731730e-01  0.740957  0.386425
18  0.182569       0.042468  8.602232e-01  0.992278  0.270128
19   0.79889       0.617008  7.013544e-01  0.814221  0.916604
20  0.118407       0.795490  4.598808e-01  0.264375  0.096497
21  0.657911       0.997269  2.055610e-01  0.862401  0.835293
22   0.03922       0.788778  1.817468e-01  0.561192  0.878578
23  0.067584       0.048123  6.647857e-01  0.997317  0.862352
24  0.261509       0.848207  5.646511e-01  0.331230  0.390248
25  0.263131       0.936493  4.511263e-01  0.893653  0.224578
26  0.409777       0.298597  6.888338e-01  0.633444  0.947210
27  0.861289       0.303415  6.470709e-02  0.198402  0.376420
28  0.918204       0.114394  5.614213e-01  0.701143  0.094505
29  0.260481       0.730428  5.915465e-01  0.340510  0.374055
30  0.654395       0.041162  6.723899e-01  0.371912  0.540694
31  0.661058       0.118443  3.737113e-01  0.804807  0.206212

In [53]:
print(mydef)

           a              b             c         d         e
0      0.256  123455.000000  7.016612e+09  0.054170  0.665391
1   0.782026       0.034786  4.797257e-01  0.979938  0.667366
2   0.938869       0.842000  9.081560e-01  0.627013  0.084534
3   0.618302       0.430822  4.994239e-01  0.027876  0.263834
4   0.016121       0.616401  7.184360e-01  0.553138  0.733237
5   0.905406       0.578577  1.449967e-01  0.236572  0.343959
6   0.652178       0.140996  8.490369e-01  0.714926  0.087708
7   0.360297       0.526587  2.388191e-01  0.703032  0.650285
8   0.485818       0.407151  9.251514e-02  0.152071  0.803280
9   0.811887       0.308346  6.174990e-01  0.045842  0.726779
10  0.619418       0.696469  5.780673e-01  0.014737  0.759215
11  0.072747       0.375946  2.790264e-01  0.687867  0.374170
12  0.998886       0.142724  6.770607e-01  0.001480  0.527897
13  0.302115       0.949338  4.167320e-01  0.462837  0.608323
14  0.560679       0.806490  7.080492e-01  0.987176  0.437412
15  0.584962       0.216943  7.700211e-01  0.045987  0.378083
16  0.119681       0.045568  1.172003e-01  0.502795  0.107417
17  0.453883       0.678399  4.731730e-01  0.740957  0.386425
18  0.182569       0.042468  8.602232e-01  0.992278  0.270128
19   0.79889       0.617008  7.013544e-01  0.814221  0.916604
20  0.118407       0.795490  4.598808e-01  0.264375  0.096497
21  0.657911       0.997269  2.055610e-01  0.862401  0.835293
22   0.03922       0.788778  1.817468e-01  0.561192  0.878578
23  0.067584       0.048123  6.647857e-01  0.997317  0.862352
24  0.261509       0.848207  5.646511e-01  0.331230  0.390248
25  0.263131       0.936493  4.511263e-01  0.893653  0.224578
26  0.409777       0.298597  6.888338e-01  0.633444  0.947210
27  0.861289       0.303415  6.470709e-02  0.198402  0.376420
28  0.918204       0.114394  5.614213e-01  0.701143  0.094505
29  0.260481       0.730428  5.915465e-01  0.340510  0.374055
30  0.654395       0.041162  6.723899e-01  0.371912  0.540694
31  0.661058       0.118443  3.737113e-01  0.804807  0.206212

In [54]:
mydef.iloc[1,2]

0.4797256900690816

In [55]:
mydef.iloc[[1,2],[1,2]]

          b         c
1  0.034786  0.479726
2  0.842000  0.908156

In [56]:
mydef.drop(['a'],axis=1)

                b             c         d         e
0   123455.000000  7.016612e+09  0.054170  0.665391
1        0.034786  4.797257e-01  0.979938  0.667366
2        0.842000  9.081560e-01  0.627013  0.084534
3        0.430822  4.994239e-01  0.027876  0.263834
4        0.616401  7.184360e-01  0.553138  0.733237
5        0.578577  1.449967e-01  0.236572  0.343959
6        0.140996  8.490369e-01  0.714926  0.087708
7        0.526587  2.388191e-01  0.703032  0.650285
8        0.407151  9.251514e-02  0.152071  0.803280
9        0.308346  6.174990e-01  0.045842  0.726779
10       0.696469  5.780673e-01  0.014737  0.759215
11       0.375946  2.790264e-01  0.687867  0.374170
12       0.142724  6.770607e-01  0.001480  0.527897
13       0.949338  4.167320e-01  0.462837  0.608323
14       0.806490  7.080492e-01  0.987176  0.437412
15       0.216943  7.700211e-01  0.045987  0.378083
16       0.045568  1.172003e-01  0.502795  0.107417
17       0.678399  4.731730e-01  0.740957  0.386425
18       0.042468  8.602232e-01  0.992278  0.270128
19       0.617008  7.013544e-01  0.814221  0.916604
20       0.795490  4.598808e-01  0.264375  0.096497
21       0.997269  2.055610e-01  0.862401  0.835293
22       0.788778  1.817468e-01  0.561192  0.878578
23       0.048123  6.647857e-01  0.997317  0.862352
24       0.848207  5.646511e-01  0.331230  0.390248
25       0.936493  4.511263e-01  0.893653  0.224578
26       0.298597  6.888338e-01  0.633444  0.947210
27       0.303415  6.470709e-02  0.198402  0.376420
28       0.114394  5.614213e-01  0.701143  0.094505
29       0.730428  5.915465e-01  0.340510  0.374055
30       0.041162  6.723899e-01  0.371912  0.540694
31       0.118443  3.737113e-01  0.804807  0.206212

In [57]:
mydef.drop(['a'], axis=1, inplace=True)

In [58]:
mydef

                b             c         d         e
0   123455.000000  7.016612e+09  0.054170  0.665391
1        0.034786  4.797257e-01  0.979938  0.667366
2        0.842000  9.081560e-01  0.627013  0.084534
3        0.430822  4.994239e-01  0.027876  0.263834
4        0.616401  7.184360e-01  0.553138  0.733237
5        0.578577  1.449967e-01  0.236572  0.343959
6        0.140996  8.490369e-01  0.714926  0.087708
7        0.526587  2.388191e-01  0.703032  0.650285
8        0.407151  9.251514e-02  0.152071  0.803280
9        0.308346  6.174990e-01  0.045842  0.726779
10       0.696469  5.780673e-01  0.014737  0.759215
11       0.375946  2.790264e-01  0.687867  0.374170
12       0.142724  6.770607e-01  0.001480  0.527897
13       0.949338  4.167320e-01  0.462837  0.608323
14       0.806490  7.080492e-01  0.987176  0.437412
15       0.216943  7.700211e-01  0.045987  0.378083
16       0.045568  1.172003e-01  0.502795  0.107417
17       0.678399  4.731730e-01  0.740957  0.386425
18       0.042468  8.602232e-01  0.992278  0.270128
19       0.617008  7.013544e-01  0.814221  0.916604
20       0.795490  4.598808e-01  0.264375  0.096497
21       0.997269  2.055610e-01  0.862401  0.835293
22       0.788778  1.817468e-01  0.561192  0.878578
23       0.048123  6.647857e-01  0.997317  0.862352
24       0.848207  5.646511e-01  0.331230  0.390248
25       0.936493  4.511263e-01  0.893653  0.224578
26       0.298597  6.888338e-01  0.633444  0.947210
27       0.303415  6.470709e-02  0.198402  0.376420
28       0.114394  5.614213e-01  0.701143  0.094505
29       0.730428  5.915465e-01  0.340510  0.374055
30       0.041162  6.723899e-01  0.371912  0.540694
31       0.118443  3.737113e-01  0.804807  0.206212

In [59]:
mydef.reset_index()

    index              b             c         d         e
0       0  123455.000000  7.016612e+09  0.054170  0.665391
1       1       0.034786  4.797257e-01  0.979938  0.667366
2       2       0.842000  9.081560e-01  0.627013  0.084534
3       3       0.430822  4.994239e-01  0.027876  0.263834
4       4       0.616401  7.184360e-01  0.553138  0.733237
5       5       0.578577  1.449967e-01  0.236572  0.343959
6       6       0.140996  8.490369e-01  0.714926  0.087708
7       7       0.526587  2.388191e-01  0.703032  0.650285
8       8       0.407151  9.251514e-02  0.152071  0.803280
9       9       0.308346  6.174990e-01  0.045842  0.726779
10     10       0.696469  5.780673e-01  0.014737  0.759215
11     11       0.375946  2.790264e-01  0.687867  0.374170
12     12       0.142724  6.770607e-01  0.001480  0.527897
13     13       0.949338  4.167320e-01  0.462837  0.608323
14     14       0.806490  7.080492e-01  0.987176  0.437412
15     15       0.216943  7.700211e-01  0.045987  0.378083
16     16       0.045568  1.172003e-01  0.502795  0.107417
17     17       0.678399  4.731730e-01  0.740957  0.386425
18     18       0.042468  8.602232e-01  0.992278  0.270128
19     19       0.617008  7.013544e-01  0.814221  0.916604
20     20       0.795490  4.598808e-01  0.264375  0.096497
21     21       0.997269  2.055610e-01  0.862401  0.835293
22     22       0.788778  1.817468e-01  0.561192  0.878578
23     23       0.048123  6.647857e-01  0.997317  0.862352
24     24       0.848207  5.646511e-01  0.331230  0.390248
25     25       0.936493  4.511263e-01  0.893653  0.224578
26     26       0.298597  6.888338e-01  0.633444  0.947210
27     27       0.303415  6.470709e-02  0.198402  0.376420
28     28       0.114394  5.614213e-01  0.701143  0.094505
29     29       0.730428  5.915465e-01  0.340510  0.374055
30     30       0.041162  6.723899e-01  0.371912  0.540694
31     31       0.118443  3.737113e-01  0.804807  0.206212

In [60]:
mydef.reset_index(drop=True, inplace =True)

In [61]:
mydef

                b             c         d         e
0   123455.000000  7.016612e+09  0.054170  0.665391
1        0.034786  4.797257e-01  0.979938  0.667366
2        0.842000  9.081560e-01  0.627013  0.084534
3        0.430822  4.994239e-01  0.027876  0.263834
4        0.616401  7.184360e-01  0.553138  0.733237
5        0.578577  1.449967e-01  0.236572  0.343959
6        0.140996  8.490369e-01  0.714926  0.087708
7        0.526587  2.388191e-01  0.703032  0.650285
8        0.407151  9.251514e-02  0.152071  0.803280
9        0.308346  6.174990e-01  0.045842  0.726779
10       0.696469  5.780673e-01  0.014737  0.759215
11       0.375946  2.790264e-01  0.687867  0.374170
12       0.142724  6.770607e-01  0.001480  0.527897
13       0.949338  4.167320e-01  0.462837  0.608323
14       0.806490  7.080492e-01  0.987176  0.437412
15       0.216943  7.700211e-01  0.045987  0.378083
16       0.045568  1.172003e-01  0.502795  0.107417
17       0.678399  4.731730e-01  0.740957  0.386425
18       0.042468  8.602232e-01  0.992278  0.270128
19       0.617008  7.013544e-01  0.814221  0.916604
20       0.795490  4.598808e-01  0.264375  0.096497
21       0.997269  2.055610e-01  0.862401  0.835293
22       0.788778  1.817468e-01  0.561192  0.878578
23       0.048123  6.647857e-01  0.997317  0.862352
24       0.848207  5.646511e-01  0.331230  0.390248
25       0.936493  4.511263e-01  0.893653  0.224578
26       0.298597  6.888338e-01  0.633444  0.947210
27       0.303415  6.470709e-02  0.198402  0.376420
28       0.114394  5.614213e-01  0.701143  0.094505
29       0.730428  5.915465e-01  0.340510  0.374055
30       0.041162  6.723899e-01  0.371912  0.540694
31       0.118443  3.737113e-01  0.804807  0.206212

In [62]:
mydef['b'].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
Name: b, dtype: bool

In [63]:
mydef['b'] = None

In [64]:
mydef

       b             c         d         e
0   None  7.016612e+09  0.054170  0.665391
1   None  4.797257e-01  0.979938  0.667366
2   None  9.081560e-01  0.627013  0.084534
3   None  4.994239e-01  0.027876  0.263834
4   None  7.184360e-01  0.553138  0.733237
5   None  1.449967e-01  0.236572  0.343959
6   None  8.490369e-01  0.714926  0.087708
7   None  2.388191e-01  0.703032  0.650285
8   None  9.251514e-02  0.152071  0.803280
9   None  6.174990e-01  0.045842  0.726779
10  None  5.780673e-01  0.014737  0.759215
11  None  2.790264e-01  0.687867  0.374170
12  None  6.770607e-01  0.001480  0.527897
13  None  4.167320e-01  0.462837  0.608323
14  None  7.080492e-01  0.987176  0.437412
15  None  7.700211e-01  0.045987  0.378083
16  None  1.172003e-01  0.502795  0.107417
17  None  4.731730e-01  0.740957  0.386425
18  None  8.602232e-01  0.992278  0.270128
19  None  7.013544e-01  0.814221  0.916604
20  None  4.598808e-01  0.264375  0.096497
21  None  2.055610e-01  0.862401  0.835293
22  None  1.817468e-01  0.561192  0.878578
23  None  6.647857e-01  0.997317  0.862352
24  None  5.646511e-01  0.331230  0.390248
25  None  4.511263e-01  0.893653  0.224578
26  None  6.888338e-01  0.633444  0.947210
27  None  6.470709e-02  0.198402  0.376420
28  None  5.614213e-01  0.701143  0.094505
29  None  5.915465e-01  0.340510  0.374055
30  None  6.723899e-01  0.371912  0.540694
31  None  3.737113e-01  0.804807  0.206212

In [65]:
mydef['b'].isnull()

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
Name: b, dtype: bool

In [66]:
mydef.loc[:,['b']] = 98

In [67]:
mydef

     b             c         d         e
0   98  7.016612e+09  0.054170  0.665391
1   98  4.797257e-01  0.979938  0.667366
2   98  9.081560e-01  0.627013  0.084534
3   98  4.994239e-01  0.027876  0.263834
4   98  7.184360e-01  0.553138  0.733237
5   98  1.449967e-01  0.236572  0.343959
6   98  8.490369e-01  0.714926  0.087708
7   98  2.388191e-01  0.703032  0.650285
8   98  9.251514e-02  0.152071  0.803280
9   98  6.174990e-01  0.045842  0.726779
10  98  5.780673e-01  0.014737  0.759215
11  98  2.790264e-01  0.687867  0.374170
12  98  6.770607e-01  0.001480  0.527897
13  98  4.167320e-01  0.462837  0.608323
14  98  7.080492e-01  0.987176  0.437412
15  98  7.700211e-01  0.045987  0.378083
16  98  1.172003e-01  0.502795  0.107417
17  98  4.731730e-01  0.740957  0.386425
18  98  8.602232e-01  0.992278  0.270128
19  98  7.013544e-01  0.814221  0.916604
20  98  4.598808e-01  0.264375  0.096497
21  98  2.055610e-01  0.862401  0.835293
22  98  1.817468e-01  0.561192  0.878578
23  98  6.647857e-01  0.997317  0.862352
24  98  5.646511e-01  0.331230  0.390248
25  98  4.511263e-01  0.893653  0.224578
26  98  6.888338e-01  0.633444  0.947210
27  98  6.470709e-02  0.198402  0.376420
28  98  5.614213e-01  0.701143  0.094505
29  98  5.915465e-01  0.340510  0.374055
30  98  6.723899e-01  0.371912  0.540694
31  98  3.737113e-01  0.804807  0.206212

In [68]:
mydef.loc[:,['b']] = np.arange(32)

In [69]:
mydef

     b             c         d         e
0    0  7.016612e+09  0.054170  0.665391
1    1  4.797257e-01  0.979938  0.667366
2    2  9.081560e-01  0.627013  0.084534
3    3  4.994239e-01  0.027876  0.263834
4    4  7.184360e-01  0.553138  0.733237
5    5  1.449967e-01  0.236572  0.343959
6    6  8.490369e-01  0.714926  0.087708
7    7  2.388191e-01  0.703032  0.650285
8    8  9.251514e-02  0.152071  0.803280
9    9  6.174990e-01  0.045842  0.726779
10  10  5.780673e-01  0.014737  0.759215
11  11  2.790264e-01  0.687867  0.374170
12  12  6.770607e-01  0.001480  0.527897
13  13  4.167320e-01  0.462837  0.608323
14  14  7.080492e-01  0.987176  0.437412
15  15  7.700211e-01  0.045987  0.378083
16  16  1.172003e-01  0.502795  0.107417
17  17  4.731730e-01  0.740957  0.386425
18  18  8.602232e-01  0.992278  0.270128
19  19  7.013544e-01  0.814221  0.916604
20  20  4.598808e-01  0.264375  0.096497
21  21  2.055610e-01  0.862401  0.835293
22  22  1.817468e-01  0.561192  0.878578
23  23  6.647857e-01  0.997317  0.862352
24  24  5.646511e-01  0.331230  0.390248
25  25  4.511263e-01  0.893653  0.224578
26  26  6.888338e-01  0.633444  0.947210
27  27  6.470709e-02  0.198402  0.376420
28  28  5.614213e-01  0.701143  0.094505
29  29  5.915465e-01  0.340510  0.374055
30  30  6.723899e-01  0.371912  0.540694
31  31  3.737113e-01  0.804807  0.206212

In [70]:
mydef2 = pd.DataFrame({
    "Name" : ["smit", "karan", "pratik","smit","pratik"],
    "salary" : [np.nan,np.nan,np.nan,98000,97500],
    "city" : ["Gandhinagar", "Ahmedabad", np.nan,np.nan,"dron"]
})

In [71]:
mydef2

     Name   salary         city
0    smit      NaN  Gandhinagar
1   karan      NaN    Ahmedabad
2  pratik      NaN          NaN
3    smit  98000.0          NaN
4  pratik  97500.0         dron

In [72]:
mydef2.dropna()

     Name   salary  city
4  pratik  97500.0  dron

In [73]:
mydef2.dropna(how ="all", axis=1)

     Name   salary         city
0    smit      NaN  Gandhinagar
1   karan      NaN    Ahmedabad
2  pratik      NaN          NaN
3    smit  98000.0          NaN
4  pratik  97500.0         dron

In [74]:
mydef2.drop_duplicates(subset=['Name'])

     Name  salary         city
0    smit     NaN  Gandhinagar
1   karan     NaN    Ahmedabad
2  pratik     NaN          NaN

In [75]:
mydef2.drop_duplicates(subset=['Name'],keep ='first')

     Name  salary         city
0    smit     NaN  Gandhinagar
1   karan     NaN    Ahmedabad
2  pratik     NaN          NaN

In [76]:
mydef2.drop_duplicates(subset=['Name'],keep='last')

     Name   salary       city
1   karan      NaN  Ahmedabad
3    smit  98000.0        NaN
4  pratik  97500.0       dron

In [77]:
mydef2.drop_duplicates(subset=['Name'],keep=False)

    Name  salary       city
1  karan     NaN  Ahmedabad

In [78]:
mydef2.shape

(5, 3)

In [79]:
mydef2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   salary  2 non-null      float64
 2   city    3 non-null      object
dtypes: float64(1), object(2)
memory usage: 252.0+ bytes

In [80]:
mydef2

     Name   salary         city
0    smit      NaN  Gandhinagar
1   karan      NaN    Ahmedabad
2  pratik      NaN          NaN
3    smit  98000.0          NaN
4  pratik  97500.0         dron

In [81]:
mydef2['Name'].value_counts(dropna=False)

Name
smit      2
pratik    2
karan     1
Name: count, dtype: int64

In [82]:
mydef2.notnull()

   Name  salary   city
0  True   False   True
1  True   False   True
2  True   False  False
3  True    True  False
4  True    True   True

In [83]:
mydef2.isnull()

    Name  salary   city
0  False    True  False
1  False    True  False
2  False    True   True
3  False   False   True
4  False   False  False

In [84]:
mydef3 = pd.DataFrame(np.random.rand(3,2))

In [85]:
mydef3

          0         1
0  0.136654  0.190171
1  0.360474  0.020529
2  0.376062  0.524733

In [86]:
mydef3.describe()

              0         1
count  3.000000  3.000000
mean   0.291064  0.245144
std    0.133949  0.256558
min    0.136654  0.020529
25%    0.248564  0.105350
50%    0.360474  0.190171
75%    0.368268  0.357452
max    0.376062  0.524733

In [87]:
mydef3.mean()

0    0.291064
1    0.245144
dtype: float64

In [88]:
mydef3.corr()

          0         1
0  1.000000  0.242426
1  0.242426  1.000000

In [89]:
mydef3.count()

0    3
1    3
dtype: int64

In [90]:
mydef3

          0         1
0  0.136654  0.190171
1  0.360474  0.020529
2  0.376062  0.524733

In [91]:
mydef3.max()

0    0.376062
1    0.524733
dtype: float64

In [92]:
mydef3.min()

0    0.136654
1    0.020529
dtype: float64

In [93]:
mydef3.median()

0    0.360474
1    0.190171
dtype: float64

In [94]:
mydef3.std()

0    0.133949
1    0.256558
dtype: float64

In [95]:
data = pd.read_excel("train.xlsx", sheet_name="sheet1")

In [96]:
data

   Unnamed: 0.1  Unnamed: 0                         train  time
0             0           0  9999999999999999583119736832   100
1             1           1                            RJ     9
2             2           2                            MH     2
3             3           3                            DL     3

In [97]:
data = pd.read_excel("train.xlsx", sheet_name="sheet2")

In [98]:
data

   Unnamed: 0.1  Unnamed: 0                         train  time
0             0           0  9999999999999999583119736832   100
1             1           1                            RJ     9
2             2           2                            MH     2
3             3           3                            DL     3

In [99]:
data.iloc[0,1] = 10000000000000000000000000000

C:\Users\Acer\AppData\Local\Temp\ipykernel_7568\2825326537.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '10000000000000000000000000000' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.iloc[0,1] = 10000000000000000000000000000

In [100]:
data

,Unnamed: 0.1,Unnamed: 0,train,time
0,0,10000000000000000000000000000,9999999999999999583119736832,100
1,1,1,RJ,9
2,2,2,MH,2
3,3,3,DL,3

In [101]:
data2 = data.copy()
with pd.ExcelWriter("train.xlsx")as wr:
    data.to_excel(wr,sheet_name="sheet1")
    data2.to_excel(wr,sheet_name="sheet2")